<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="edu.kh.project.member.model.mapper.MemberMapper">
<!-- namespace에 연결할 Mapper 인터페이스 패키지명.인터페이스명 경로 작성 필수 
	 -> 매퍼 인터페이스 메서드 호출시 xml 파일에 작성된 태그중 메서드명과 같은 id를 가진 SQL이 수행됨 
 -->

<!-- 수행 하려는 SQL 구문 태그 작성-->
<!-- <select id="" parameterType="" resultType="">SQL 작성</select>
	 <insert id="" parameterType="">SQL 작성</insert>
	 <update id="" parameterType="">SQL 작성</update>
	 <delete id="" parameterType="">SQL 작성</update>  -->


<!-- parameterType 속성은 필수 속성이 아님
	 TypeHandler를 이용해서 자료형을 판별할 수 있음  -->


<!-- 로그인 -->
<select id="login" parameterType="string" resultType="Member">
	SELECT MEMBER_NO, MEMBER_EMAIL, MEMBER_NICKNAME, MEMBER_PW, 
	MEMBER_TEL, MEMBER_ADDRESS, PROFILE_IMG, AUTHORITY, 
	TO_CHAR(ENROLL_DATE, 'YYYY"년" MM"월" DD"일" HH24"시" MI"분" SS"초"') ENROLL_DATE  
	FROM "MEMBER" 
	WHERE MEMBER_EMAIL = #{memberEmail}
	AND MEMBER_DEL_FL = 'N'	
</select> 














</mapper>
