<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        
        
    <body>
       <h1>Test</h1>
       
       <div id="login-box">
            아이디 : <input type="text" id="input-id"> <br>
            비밀번호 : <input type="password" id="input-pw"> <br>
        
            <button id="login-btn">로그인</button>
       </div>

       
       <form action="/param/test3" method="post">
        색상 : 
        Red <input type="checkbox" name="color" value="Red"> <br>
        Green <input type="checkbox" name="color" value="Green"> <br>
        Blue <input type="checkbox" name="color" value="Blue"> <br>

        <br><br>

        과일 : 
        Apple <input type="checkbox" name="fruit" value="Apple"> <br>
        Banana <input type="checkbox" name="fruit" value="Banana"> <br>
        Orange <input type="checkbox" name="fruit" value="Orange"> <br>

        <br><br>

        상품명 :  <input type="text" name="productName"> <br>
        유통기한 : <input type="date" name="expirationDate"> <br>

        <button>제출</button>

    </form>
       
    <form action="/param/test4" method="POST">
        ID : <input type="text" name="memberId">
        PW : <input type="password" name="memberPw">
        Name : <input type="text" name="memberName">
        AGE : <input type="number" name="memberAge">

        <button>제출하기</button>
    </form>



    </body>
</html>